html {
   height: 100%;
   box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: inherit;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

body {
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   line-height: 1.5;
   margin: 0;
   padding: 0;
}

.container {
   width: 1200px;
   margin-right: auto;
   margin-left: auto;
}

.box {
   width: 450px;
   margin-top: 100px;
   margin-right: auto;
   margin-left: auto;
}

.box-header {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   background-color: #ea907a;
   text-align: center;
   margin: 0;
   padding: 20px;
   color: white;
}

.box-header::after {
   background-image: url(../img/list-icon.svg);
   background-repeat: no-repeat;
   background-size: contain;
   opacity: 0.6;
   display: inline-block;
   width: 40px;
   height: 40px;
   content: "";
}

.task-input {
   width: 100%;
   display: block;
   background-color: #fbc687;
   border: none;
   outline: none;
   padding: 25px;
   margin: 0;
   font-size: 24px;
}

.task-input::placeholder {
   color: black;
}

.task-box {
   height: 400px;
   padding: 0;
   margin: 0;
   list-style-type: none;
   background-color: #f4f7c5;
   overflow: auto;
}

.task-box li {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 25px;
   background-color: #f4f7c5;
   border-bottom: 2px solid #ea907a;
   font-size: 24px;
}

.task-box p {
   margin: 0;
}

.task-box button {
   width: 25px;
   height: 25px;
   padding: 5px;
   font-size: 20px;
   background-color: transparent;
   border: none;
   opacity: 0.5;
   outline: none;
   background-image: url(../img/trash.svg);
   background-repeat: no-repeat;
   background-size: 25px 25px;
}

.task-box button:hover {
   opacity: 1;
}

.task-box button:active {
   transform: rotate(-35deg);
   color: darkred;
}